.round_image{
    border-radius: 45px;
    width: 50px;
    height: 50px;
    /*display: flex;*/
}

.round_image:hover{
    /*border: 10px solid #05f7ff;*/
    background-color: #2082ff;
    /*outline:#2082ff solid 2px ;*/
    /*outline-offset: 2px;*/
}